@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
}

.login_window {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
}

.header_logo {
	font-size: 30px;
	color: #03C75A;
	font-weight: 900;
	text-align: center;
}

.section {
	display: flex;
	justify-content: center;
}

.section_form {
	width: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section_input {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.section_loginBtn {
	color: white;
	background-color: darkgray;
	border: none;
	border-radius: 5px;
	padding: 10px;
}
